<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    
</head>
<body>
    <h1>Your Shopping Cart</h1>

  
    {% if cart_items %}
        
        {% for item in cart_items %}
            <div class="cart-item">
                <h2>{{ item.accessory.name }}</h2>
                <p><strong>Price:</strong> {{ item.accessory.price }}</p>
                
            </div>
        {% endfor %}
    {% else %}
        <p>Your cart is empty.</p>
    {% endif %}

    
    <button><a href="{% url 'checkout' %}">Proceed to Checkout</a></button>

 

</body>
</html>
